body {
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Inter';
}

.sectionheader2 {
    width: 100%;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: clamp(5px, 5.5vw, 42px);
    font-weight: 700;
    line-height: clamp(5px,8vw,80px);
    text-align: left;
    color: #412312;
    margin: 0 auto;
}

.line {
    width: 86px;
    height: 5px;
}

h4 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin-bottom: 0;
}

.branches{
    gap: 20%;
}

@media only screen and (max-width:500px) {
    .branches{
        gap: 10%;
    }
}

@media only screen and (max-width:950px) {
    .branches{
        gap: 15%;
        justify-content: space-between;
    }
}
